/* Theme colors */
:root {
	/* Solarized Base Colors */
	--base03: #002b36;
	--base02: #073642;
	--base01: #586e75;
	--base00: #657b83;
	--base0: #839496;
	--base1: #93a1a1;
	--base2: #eee8d5;
	--base3: #fdf6e3;

	/* Solarized Accent Colors */
	--yellow: #b58900;
	--orange: #cb4b16;
	--red: #dc322f;
	--magenta: #d33682;
	--violet: #6c71c4;
	--blue: #268bd2;
	--cyan: #2aa198;
	--green: #859900;

	--text-color-link: var(--cyan);
	--text-color-link-visited: var(--cyan);
	--text-color-link-active: var(--green);
	--background-color: var(--base3);
	--borders-color: var(--base1);

	--title-color: var(--orange);
	--text-color: var(--base02);
	--text-color-inverted: var(--base1);
	--text-background-inverted: var(--base01);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: var(--base02);
		--borders-color: var(--base01);
		--text-color: var(--base1);
		--text-color-inverted: var(--base01);
		--text-background-inverted: var(--base1);
	}
}
