/* Theme colors */
:root {
	/* Solarized Base Colors */
	--base03: #002b36;
	--base02: #073642;
	--base01: #586e75;
	--base00: #657b83;
	--base0: #839496;
	--base1: #93a1a1;

	/**
	 * Solarized originals:
	--base2: #eee8d5;
	--base3: #fdf6e3;
	*/

	--base2: #e9e6da;
	--base3: #f8f4e8;

	/* Solarized Accent Colors */
	--yellow: #b58900;
	--orange: #cb4b16;
	--red: #dc322f;
	--magenta: #d33682;
	--violet: #6c71c4;
	--blue: #268bd2;
	--cyan: #2aa198;
	--green: #859900;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Contrast-based color scale (dark mode) */
		--color-ground: var(--base03);
		--color-c01: var(--base02);
		--color-c02: var(--base01);
		--color-c03: var(--base00);
		--color-c04: var(--base0);
		--color-c05: var(--base1);
		--color-c06: var(--base2);
		--color-c07: var(--base3);
	}
}
