---js
const tags = "pages";
const eleventyNavigation = {
key: "Home",
order: 1
};
---

<div class="container mx-auto max-w-5xl px-4">
  <section class="grid md:grid-cols-5 gap-8 md:gap-12 py-12 md:py-16">
    <div class="md:col-span-3 space-y-6">
      <h1 class="font-serif text-heading text-4xl md:text-5xl lg:text-5xl font-bold tracking-tight">
				Hi! I'm Noel. Software designer and developer.
      </h1>

      <p class="font-thin text-xl md:text-2xl leading-relaxed">
				I help climate nonprofit and startup leaders turn ideas into working software —from concept to launch and beyond.
      </p>

      <p class="font-thin text-base md:text-lg text-body-subtle leading-relaxed">
				My expertise combines a design background with 20 years of software engineering experience. I build web apps like maps, knowledge bases, wizards and databases.
      </p>
    </div>

    <div class="md:col-span-2">
      <div class="md:sticky md:top-8">
        <img
          src="/img/noel-landscape-768.jpg"
          alt="Portrait of Noel"
          class="w-full max-w-md h-auto rounded-lg shadow-lg md:hidden border-1 border-c04"
        />
        <img
          src="/img/noel-portrait-500.jpg"
          alt="Portrait of Noel"
          class="w-full h-auto rounded-lg shadow-lg hidden md:block border-1 border-c04"
        />
      </div>
    </div>
  </section>

  <section class="grid md:grid-cols-5 gap-8 md:gap-12 py-12 md:py-16 ">
    <div class="md:col-span-3 space-y-6">
      <h2 class="text-3xl md:text-4xl font-bold font-serif text-heading tracking-tight">
				Software projects can be risky and overwhelming
      </h2>

      <ul class="font-thin space-y-3 text-base md:text-lg text-body">
        <li class="flex items-start">
          <span class="mr-3">•</span>
          <span>Endless coordination meetings needed to align stakeholders, designers and developers.</span>
        </li>
        <li class="flex items-start">
          <span class="mr-3">•</span>
          <span>Your vision gets watered down as it passes between teams.</span>
        </li>
        <li class="flex items-start">
          <span class="mr-3">•</span>
          <span>Developers use jargon instead of language that's relevant to your domain.</span>
        </li>
        <li class="flex items-start">
          <span class="mr-3">•</span>
          <span>You discover costly technical issues only after design is &quot;<em>done</em>.&quot;</span>
        </li>
        <li class="flex items-start">
          <span class="mr-3">•</span>
          <span>Wrong estimates and bugs lead to project delays and cost overruns.</span>
        </li>
      </ul>
		</div>
    <div class="md:col-span-2 hidden md:block">
			<div class="md:sticky md:top-8">
				<img
				src="/img/entangled.png"
				alt="Abstract representation of entangled communications and processes"
				class="w-full max-w-sm h-auto rounded-lg drop-shadow-md"
				/>
			</div>
    </div>
  </section>

	<section class="grid md:grid-cols-5 gap-8 md:gap-12 py-12 md:py-16">
		<div class="md:col-span-3 space-y-6">
			<h2 class="text-3xl md:text-4xl font-bold font-serif text-heading tracking-tight">
				There is a better way
			</h2>

			<p class="font-thin text-lg md:text-xl">
				Your whole project handled by a single expert from concept to launch. The results covered by a bug-free guarantee.
			</p>

			<ul class="font-thin space-y-3 text-base md:text-lg text-body">
				<li class="flex items-start">
					<span class="mr-3">•</span>
					<span>Strategic decisions draw on both design insight and technical foresight.</span>
				</li>
				<li class="flex items-start">
					<span class="mr-3">•</span>
					<span>Your vision stays intact, with one person ensuring that every design and implementation detail aligns with it.</span>
				</li>
				<li class="flex items-start">
					<span class="mr-3">•</span>
					<span>Conversations happen in a language that is natural to you and your organization. </span>
				</li>
				<li class="flex items-start">
					<span class="mr-3">•</span>
					<span>You get a thought partner that helps you align goals, stakeholders and priorities.</span>
				</li>
				<li class="flex items-start">
					<span class="mr-3">•</span>
					<span>You'll know exactly what to expect in terms of quality, cost and time.</span>
				</li>
			</ul>

			<p class="font-thin text-base md:text-lg">
				You'll never have to explain a runaway cost or product flop to your stakeholders or board.
			</p>
		</div>

		<div class="md:col-span-2 hidden md:block">
			<div class="md:sticky md:top-8">
				<img
					src="/img/cabin.png"
					alt="Image placeholder"
					class="w-full max-w-sm h-auto rounded-lg drop-shadow-md"
				/>
			</div>
		</div>
	</section>

	<section class="py-12 md:py-16 rounded-lg md:bg-gradient-to-b md:from-ground md:to-c01 md:ring-3 md:ring-c01 md:shadow-lg">
		<div class="max-w-xl m-auto space-y-6">
			<h2 class="text-orange text-3xl md:text-4xl font-serif font-bold tracking-tight">
				How is this possible?
			</h2>

			<p class="font-thin text-lg md:text-xl">
				Clear requirements, small steps, and solid experience.
			</p>

			<ul class="font-thin space-y-3 text-base md:text-lg text-body-subtle">
				<li class="flex items-start">
					<span class="mr-3">•</span>
					<span><strong class="text-body">Thorough discovery and requirements definition.</strong> We settle on success criteria only when we have a shared understanding of your goals and how the project helps you move towards them.</span>
				</li>
				<li class="flex items-start">
					<span class="mr-3">•</span>
					<span><strong class="text-body">We break large projects into manageable milestones.</strong> I work on milestones with fixed price and defined with clear success criteria. I keep going until the project meets the criteria —regardless of effort required. To cover unexpected issues, I offer a bug-free guarantee.</span>
				</li>
				<li class="flex items-start">
					<span class="mr-3">•</span>
					<span><strong class="text-body">You don't pay by the hour; you pay for results.</strong> When you pay developers by the hour, there's no incentive to get things done fast and without bugs. With fixed-price milestones, I'm incentivized to deliver efficiently while maintaining quality.</span>
				</li>
				<li class="flex items-start">
					<span class="mr-3">•</span>
					<span><strong class="text-body">I’ve been doing this for 20 years.</strong> That’s why I can bear the risk of offering guarantees —which I have been providing for years.</span>
				</li>
			</ul>
		</div>
	</section>

	<section class="my-16 md:my-24">
		<div class="flex gap-24 md:gap-8 flex-wrap md:flex-nowrap flex-col-reverse md:flex-row">

			<div class="grow rounded-lg border bg-white/5 border-1 border-c03 shadow-xl p-6 md:p-8"
				id="free-call">
				<h2 class="text-3xl md:text-3xl font-serif font-bold tracking-tight mb-6 text-body">
					Let's build things together
				</h2>

				<p class="font-thin text-base md:text-lg text-body-subtle mb-4">
					Schedule a 30-minute exploratory call to discuss your project and determine if we're a good match.
				</p>

				<p class="font-thin text-base md:text-lg text-body-subtle mb-4">
					You'll get clarity on your project's feasibility, potential approaches, and realistic next steps. I'll answer your questions directly based on 20 years of experience.
				</p>

				<p class="font-thin text-base md:text-lg text-body-subtle mb-6">
					If working together makes sense, I'll follow up with a proposal.
				</p>

				<a href="https://calendar.app.google/EvzyJeS767M8bgcQ7" class="inline-block border-1 border-orange bg-orange hover:px-12 transition-all duration-500 ease-in-out text-ground font-medium px-6 py-3 rounded-lg">
					Schedule now
				</a>
			</div>

			<div class="max-w-none md:max-w-2/5 rounded-lg p-6 md:p-8 shadow-sm">
				<div class="flex">
					<div class="text-8xl font-serif font-bold text-orange">&quot;</div>
					<div>

						<p class="text-c06 md:text-lg mb-4">
							We have been working with Noel for over three years. He's communicative, responsive and a great developer.
						</p>

						<p class="font-thin text-c06 md:text-lg mb-4">
							Noel developed a fit-for-purpose platform that has allowed us to build and maintain our tools relatively independently despite having very little technical expertise. He's helped us expand the platform, think about how to better serve our users, and find ways to improve it.
						</p>

						<p class="font-thin font-serif text-c06 text-sm md:text-base font-bold text-orange">
							— Maria Lucien. Program Associate, People Powered
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="my-12 md:my-16">
		<div class="max-w-3xl mx-auto flex flex-col md:flex-row justify-between items-start md:items-center gap-4">
			<p class="font-thin text-base md:text-lg text-body-subtle">
				Not ready to schedule a call? <span class="font-normal">Explore some of my work:</span>
			</p>
			<a href="/portfolio/" class="md:text-lg p-2 border-1 border-c02 hover:bg-c01 transition-colors shadow-md rounded-md">
				Portfolio ➡️
			</a>
		</div>
	</section>
</div>
