{% css %}
img.portrait {
	height: auto;
	max-width: 250px
}
.page-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1em;
	margin: 1.5em 0;
}
a[href].button-detail,
a[href].button-detail:visited {
	flex-basis: auto;
	color: var(--text-color-link);
	border: 1px solid var(--text-color-link);
	border-radius: 0.25em;
	padding: 0.5em;
	text-decoration: none;
	transition: all 0.5s;
}
a[href].button-detail:hover {
	border-color: var(--text-color-link-active);
	color: var(--text-color-link-active);
	padding: 0.5em 1em;
}
a.button-detail .icon {
	display: inline-block;
	margin-left: 1em;
	width: 1em;
	height: 1em;
}
a.button-detail .icon svg path {
	fill: currentColor;
}
a[href].button-schedule-call,
a[href].button-schedule-call:visited {
	display: inline-block;
	border: 1px solid var(--borders-color);
	border-radius: 0.25em;
	background-color: var(--text-color-link);
	color: var(--background-color);
	padding: 0.5em 1.5em;
	margin-top: 1em;
	text-decoration: none;
	transition: all 0.5s;
}
a[href].button-schedule-call:hover {
	background-color: var(--text-color-link-active);
	color: var(--background-color);
	padding: 0.5em 3em;
}
{% endcss %}

<main class="home">
	<h1>Hi! I'm Noel Rivas</h1>

	<section class="intro">
		<img class="portrait" alt="Noel" src="/noel.png" />
		<p>I'm a web and software developer with 20+ years of experience.</p>
		<p><strong>I help organizations working on climate change solutions</strong></p>
		<p>By acting as a communication bridge betwen development and non-technical stakeholders, I bring clarity to all parties involved, in their own language.</p>
		<p>I've led projects for national, regional and global organizations including the IUCN, People Powered and the National Fund For the Conservation of Nature (Mexico).</p>

		<h2>Skills & Values</h2>
		<p>My expertise spans modern web and mobile technologies, cloud infrastructure, and automated deployment practices—ensuring your product can evolve quickly with market demands while maintaining the stability needed for sustainable growth.</p>
		<div class="page-links">
			<a class="button-detail" href="/technical-skills">
				Technical skills
				<span class="icon">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="currentColor" d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM297 385c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l71-71L120 280c-13.3 0-24-10.7-24-24s10.7-24 24-24l214.1 0-71-71c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L409 239c9.4 9.4 9.4 24.6 0 33.9L297 385z"/></svg>
				</span>
				</a>
			<a class="button-detail" href="/work-values">
				Work values
				<span class="icon">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="currentColor" d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM297 385c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l71-71L120 280c-13.3 0-24-10.7-24-24s10.7-24 24-24l214.1 0-71-71c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L409 239c9.4 9.4 9.4 24.6 0 33.9L297 385z"/></svg>
				</span>
			</a>
		</div>

		<h2>Are you building climate solutions? 🌎</h2>
		<p>Get free web software development advice → <a href="https://calendly.com/hola-noelr/30min">30-min call available</a></p>

		<a class="button-schedule-call" href="https://calendly.com/hola-noelr/30min">Let's Talk</a>

		<h2>Writing</h2>
		<p>I write about software development, wild critters found in the digital realm, and surrounding phenomena at...</p>
		<div class="page-links">
			<a class="button-detail" href="https://thefocus.quest">
				The Focus Quest
				<span class="icon">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l82.7 0L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3l0 82.7c0 17.7 14.3 32 32 32s32-14.3 32-32l0-160c0-17.7-14.3-32-32-32L320 0zM80 32C35.8 32 0 67.8 0 112L0 432c0 44.2 35.8 80 80 80l320 0c44.2 0 80-35.8 80-80l0-112c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 112c0 8.8-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16l0-320c0-8.8 7.2-16 16-16l112 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 32z"/></svg>
				</span>
			</a>
		</div>
	</section>
</main>

{#
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}
#}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
