		<footer class="bg-ground py-12 px-6 px inset-shadow-sm inset-shadow-c02/50">
			<div class="max-w-5xl mx-auto flex items-start gap-12">
				<!-- Logo placeholder -->
				<div class="flex-shrink-0">
					<img eleventy:ignore src="/img/motmot-a.svg" alt="Logo" width="80" height="104" />
				</div>

				<!-- Navigation and contact -->
				<div class="flex-grow">
					<!-- Contact links -->
					<div class="flex gap-6 text-sm text-orange">
						<a href="mailto:hola@noelr.dev">hola@noelr.dev</a>
						<a href="https://www.linkedin.com/in/noelrivasc/" class="flex items-center gap-2">
							<svg width="16" height="16" class="w-4 h-4" xmlns="http://www.w3.org/2000/svg">
								<rect width="16" height="16" fill="#6b7280"/>
							</svg>
							LinkedIn
						</a>
					</div>


					<!-- Menu -->
					<nav class="mb-6">
						<ul class="flex flex-col mt-4 gap-2 text-sm font-medium text-body-subtle transition-colors">
							{%- for entry in navPages %}
								<a href="{{ entry.url }}" {% if entry.url == page.url %}aria-current="page"{% endif %} class="transition-colors hover:text-orange">{{ entry.title }}</a>
							{%- endfor %}
						</ul>
					</nav>

				</div>
			</div>
		</footer>

