<header class="bg-ground">
	<nav aria-label="Global" class="mx-auto flex max-w-6xl items-center justify-between gap-x-4 xl:gap-x-6 p-6 pt-4 lg:px-8">
		<a href="/" class="-m-1.5 p-1.5 flex items-center text-orange">
			<img eleventy:ignore alt="Motmot logo" class="inline-block" src="/img/motmot-a.svg" width="60" height="78" />
			<span class="inline-block text-sm text-nowrap">motmot (.dev)</span>
		</a>

		<div class="hidden md:flex md:gap-x-10 lg:gap-x-12">
			{%- for entry in navPages %}
				<a href="{{ entry.url }}" {% if entry.url == page.url %}aria-current="page" class="text-lg text-body-subtle hover:text-orange transition-colors underline"{% else %}class="text-lg text-body-subtle hover:text-orange transition-colors"{% endif %}>{{ entry.title }}</a>
			{%- endfor %}
		</div>

		<div class="flex flex-1 md:flex-0 items-center justify-end gap-x-6">
			<a href="https://calendar.app.google/EvzyJeS767M8bgcQ7" class="rounded-md bg-cta px-3 py-2 text-sm font-semibold text-body-inverted text-nowrap shadow-xs hover:opacity-80 transition-opacity focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green">Schedule Call</a>
		</div>


		<button type="button" id="menu-toggle" aria-expanded="false" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-body-subtle md:hidden">
			<span class="sr-only">Open main menu</span>
			<svg id="hamburger-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" fill="currentColor" aria-hidden="true" class="size-6">
				<path d="M96 160C96 142.3 110.3 128 128 128L512 128C529.7 128 544 142.3 544 160C544 177.7 529.7 192 512 192L128 192C110.3 192 96 177.7 96 160zM96 320C96 302.3 110.3 288 128 288L512 288C529.7 288 544 302.3 544 320C544 337.7 529.7 352 512 352L128 352C110.3 352 96 337.7 96 320zM544 480C544 497.7 529.7 512 512 512L128 512C110.3 512 96 497.7 96 480C96 462.3 110.3 448 128 448L512 448C529.7 448 544 462.3 544 480z"/>
			</svg>
		</button>
	</nav>

	<div id="mobile-menu" class="fixed inset-y-0 left-0 sm:left-auto sm:right-0 w-full max-w-[100vw] sm:max-w-sm z-50 bg-ground dark:bg-c01 overflow-y-auto sm:ring-3 sm:ring-c02 p-6 pt-4 transition-opacity duration-200 opacity-0 hidden">
		<div class="flex items-center justify-between gap-x-4">

			<a href="/" class="-m-1.5 p-1.5 flex flex-1 items-center text-orange sm:opacity-0">
				<img eleventy:ignore alt="Motmot logo" class="inline-block" src="/img/motmot-a.svg" width="60" height="78" />
				<span class="inline-block text-sm text-nowrap">motmot (.dev)</span>
			</a>

			<div class="flex flex-1 md:flex-0 items-center justify-end gap-x-6">
				<a href="https://calendar.app.google/EvzyJeS767M8bgcQ7" class="rounded-md bg-cta px-3 py-2 text-sm font-semibold text-body-inverted text-nowrap shadow-xs hover:opacity-80 transition-opacity focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green">Schedule Call</a>
			</div>

			<button type="button" id="menu-close" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-body-subtle">
				<span class="sr-only">Close menu</span>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" fill="currentColor" aria-hidden="true" class="size-6">
					<path d="M183.1 137.4C170.6 124.9 150.3 124.9 137.8 137.4C125.3 149.9 125.3 170.2 137.8 182.7L275.2 320L137.9 457.4C125.4 469.9 125.4 490.2 137.9 502.7C150.4 515.2 170.7 515.2 183.2 502.7L320.5 365.3L457.9 502.6C470.4 515.1 490.7 515.1 503.2 502.6C515.7 490.1 515.7 469.8 503.2 457.3L365.8 320L503.1 182.6C515.6 170.1 515.6 149.8 503.1 137.3C490.6 124.8 470.3 124.8 457.8 137.3L320.5 274.7L183.1 137.4z"/>
				</svg>
			</button>
		</div>
		<div class="mt-6 flow-root">
			<div class="-my-6 divide-y divide-gray-500/10">
				<div class="space-y-2 py-6">
					{%- for entry in navPages %}
						<a href="{{ entry.url }}" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-body-subtle hover:text-orange">{{ entry.title }}</a>
					{%- endfor %}
				</div>
			</div>
		</div>
	</div>
</header>

