		<div class="rounded-lg border bg-white/2 border-1 border-c03 shadow-xl p-6 md:p-8 mb-16 md:mb-24">
			<div class="grid md:grid-cols-5 gap-4 gap-x-8">
				<!-- Text -->
				<div class="md:col-span-3">
					<h2 class="text-3xl md:text-4xl font-serif font-bold tracking-tight mb-4 text-body">
						Consultation Call
					</h2>

					<p class="font-thin text-lg md:text-xl mb-4">
						You have a specific question and need a straight answer.
					</p>

					<p class="font-thin text-base md:text-lg text-body-subtle mb-4">
						You're weighng two platforms, or aren't sure what's technically possible. Or a vendor gave you a proposal and you want a second opinion before signing.
					</p>

					<p class="font-thin text-base md:text-lg text-body-subtle mb-6">
						We get on a call (up to 2 hours). You explain the situation. I give you my honest read based on 20 years of designing and building software.
					</p>

					<p class="font-thin text-base md:text-lg text-body-subtle mb-6">
						This isn't a deep audit or a written deliverable: it's a focused conversation that gets you unstuck fast.
					</p>

					<p class="font-thin text-base md:text-lg text-body mb-6">
						Price: $300. If the call doesn't help, I'll refund your fee.
					</p>

				</div>

				<!-- Image -->
				<div class="md:col-span-2">
					<img
					width="800"
					src="./img/call-me.png"
					width="400"
					class="drop-shadow-md -rotate-5 md:-translate-y-15 max-w-70 lg:max-w-90 m-auto mb-8"
					alt="A red rotary phone sits on a log, in the middle of a lush forest."
					/>
				</div>

				<!-- Price and CTA -->
				<div class="md:col-span-5">
					<a href="https://calendar.app.google/EvzyJeS767M8bgcQ7" class="inline-block border-1 border-orange bg-orange hover:px-12 transition-all duration-500 ease-in-out text-ground font-medium px-6 py-3 rounded-lg text-center">
						Schedule
					</a>
				</div>
			</div>

		</div>
