		<div class="rounded-lg rounded-b-none bg-ground border border-c03 p-6 md:p-8">
			<div class="grid md:grid-cols-5 gap-4 gap-x-8">

				<!-- Text -->
				<div class="md:col-span-3">
					<h2 class="text-3xl md:text-3xl font-serif font-bold tracking-tight mb-4 text-body">
						Foundations and Discovery
					</h2>

					<p class="font-thin text-lg md:text-xl mb-6">
						Get clarity on what you're building and why. Avoid costly surprises and misalignment before a single line of code is written.
					</p>

					<p class="font-thin text-base md:text-lg text-body-subtle mb-4">
						We document project goals, requirements and user stories in an actionable foundations document. You own this roadmap and can use it with any developer —giving you full control and flexibility.
					</p>

					<ul class="font-thin space-y-3 text-base md:text-lg text-body-subtle mb-6">
						<li class="flex items-start">
							<span class="mr-3">•</span>
							<span>Goals and audiences. Who are the intended user groups and what are the goals for each of them.</span>
						</li>
						<li class="flex items-start">
							<span class="mr-3">•</span>
							<span>Key user stories. Actions that users must be able to do in the app.</span>
						</li>
						<li class="flex items-start">
							<span class="mr-3">•</span>
							<span>Non-functional requirements. Qualities of the app such as security, privacy, performance and accessibility.</span>
						</li>
						<li class="flex items-start">
							<span class="mr-3">•</span>
							<span>Risks and assumptions.</span>
						</li>
						<li class="flex items-start">
							<span class="mr-3">•</span>
							<span>Project roadmap.</span>
						</li>
					</ul>

					<p class="font-thin text-base md:text-lg text-body-subtle my-4">
						We go through a structured process that takes about 5 hours of work from your team, spread over two weeks. Best for small groups of decision makers, up to 3 people.
					</p>

					<p class="text-lg font-medium text-body">
						$2,500 USD
					</p>

				</div>

				<!-- Image -->
				<div class="md:col-span-2">
					<img
					src="./img/fungi-roots-clean.png"
					width="800"
					class="drop-shadow-md -rotate-5 md:-translate-y-15 max-w-70 lg:max-w-90 m-auto mb-8"
					alt="Digital fungi grow on the understory of a lush forest."
					/>
				</div>
			</div>
		</div>

		<!-- Schedule free call -->
		<div class="rounded-lg rounded-t-none border border-t-0 border-c03 bg-linear-to-t from-white/20 to-white/5 shadow-xl p-6 md:p-8 mb-16 md:mb-24">
			<div class="max-w-3/5">
				<h3 class="text-2xl md:text-2xl font-serif font-bold tracking-tight mb-6 text-body">
					Schedule a free call
				</h3>

				<p class="font-thin text-base md:text-lg text-body-subtle mb-4">
					Schedule a 30-minute exploratory call to discuss your project and determine if we're a good match.
				</p>

				<p class="font-thin text-base md:text-lg text-body-subtle mb-4">
					You'll get clarity on your project's feasibility, potential approaches, and realistic next steps. I'll answer your questions directly based on 20 years of experience.
				</p>

				<p class="font-thin text-base md:text-lg text-body-subtle mb-6">
					If working together makes sense, I'll follow up with a proposal.
				</p>

				<a href="https://calendar.app.google/EvzyJeS767M8bgcQ7" class="inline-block border-1 border-orange bg-orange hover:px-12 transition-all duration-500 ease-in-out text-ground font-medium px-6 py-3 rounded-lg">
					Schedule now
				</a>
			</div>
		</div>
