		<div class="rounded-lg rounded-b-none bg-ground border border-c03 p-6 md:p-8">
			<div class="grid md:grid-cols-5 gap-4 gap-x-8">

				<!-- Text -->
				<div class="md:col-span-3">
					<h2 class="text-3xl md:text-4xl font-serif font-bold tracking-tight mb-4 text-body">
						Full Project Development
					</h2>

					<p class="font-thin text-lg md:text-xl mb-4">
						I handle the complete journey: user experience design, visual design, development, integrations and deployment.
					</p>

					<p class="font-thin text-base md:text-lg text-body-subtle mb-4">
						Design and development stay aligned because one person handles both. Your vision doesn't get watered down between teams. Technical challenges get spotted during design —not after. Strategic decisions draw on both design insight and development expertise.
					</p>

					<p class="font-thin text-base md:text-lg text-body-subtle mb-4">
						We test the result against defined success criteria. I keep working until the project meets those criteria —at the agreed fixed price. You get a working web app covered by a bug-free guarantee.
					</p>

					<p class="text-lg md:text-xl font-medium text-body">
						Openings start January 2026.
					</p>

				</div>

				<!-- Image -->
				<div class="md:col-span-2">
					<img
					src="./img/cabin.png"
					width="800"
					class="drop-shadow-md -rotate-5 md:-translate-y-15 max-w-70 lg:max-w-90 m-auto mb-8"
					alt="A digital solid digital cabin in the woods."
					/>
				</div>
			</div>
		</div>

		<!-- Schedule free call -->
		<div class="rounded-lg rounded-t-none border border-t-0 border-c03 bg-linear-to-t from-white/20 to-white/5 dark:from-white/7 dark:to-white/1 shadow-xl p-6 md:p-8">
			<div class="max-w-3/5">
				<h3 class="text-2xl md:text-2xl font-serif font-bold tracking-tight mb-6 text-body">
					Schedule a free call
				</h3>

				<p class="font-thin text-base md:text-lg text-body-subtle mb-4">
					Schedule a 30-minute exploratory call to discuss your project and determine if we're a good match.
				</p>

				<p class="font-thin text-base md:text-lg text-body-subtle mb-4">
					You'll get clarity on your project's feasibility, potential approaches, and realistic next steps. I'll answer your questions directly based on 20 years of experience.
				</p>

				<p class="font-thin text-base md:text-lg text-body-subtle mb-6">
					If working together makes sense, I'll follow up with a proposal.
				</p>

				<a href="https://calendar.app.google/EvzyJeS767M8bgcQ7" class="inline-block border-1 border-orange bg-orange hover:px-12 transition-all duration-500 ease-in-out text-ground font-medium px-6 py-3 rounded-lg">
					Schedule now
				</a>
			</div>
		</div>
