---js
{
	"tags": "wizardProject",
	"permalink": false,
	"project":
		{
			"title": "Participation Playbook",
			"client": "People Powered",
			"images": [
				{
					"src": "./img/playbook-1.png",
					"alt": "Database search interface"
				},
				{
					"src": "./img/playbook-2.png",
					"alt": "Feature: save search criteria"
				},
				{
					"src": "./img/playbook-3.png",
					"alt": "Database search results"
				},
				{
					"src": "./img/playbook-4.png",
					"alt": "Database search results"
				},
			]
		}
}
---

{% capture body %}
	<p class="font-thin text-base md:text-lg text-body">
		Wizard creation tool that allows People Powered to put together tools to guide participatory democracy programs.
	</p>

	<ul class="font-thin text-body-subtle space-y-1 text-base md:text-lg list-disc list-inside">
		<li>Editors can create wizards without writing code.</li>
		<li>Content generation based on user input.</li>
		<li>PDF generation.</li>
		<li>All content and logic is maintainable by the client team, without reliance on developers.</li>
		<li>Ongoing training, support and feature development.</li>
	</ul>

	<p class="font-thin text-xs md:text-base text-c03">
		In collaboration with Matrushka —my former consultancy.
	</p>

	<a class="inline-block font-thin text-orange p-2 border border-white/40 bg-linear-to-t from-white/10 to-white/3 rounded-md shadow-sm hover:shadow-lg transition-shadow" href="https://www.unadvocacy.org">Visit app</a>
{% endcapture %}

{%
	render '../components/project',
	title: project.title,
	client: project.client,
	body: body,
	images: project.images
%}
